<h1>Editing Notebook</h1>

<%= render 'form', notebook: @notebook, action: 'Edit' %>


<hr/>
<%= link_to 'Show ', @notebook, :class => "btn btn-info" %>
<%= link_to 'Back', notebooks_path, :class => "btn btn-secondary" %>
