<h1>Notebooks</h1>
<p>
  Notebooks are the place where your notes are stored. If you want to have order in your notes, you should use notebooks to separate them (like folders).
</p>
<small>If not just use QuickNotes: </small>
<%= link_to "QuickNotes", quick_notes_path, :class => "btn btn-secondary", :role => "button"%>
<hr/>
<% if @notebooks.exists? %>

  <h2>My notesbooks:</h2>
  <div class="row">
    <% @notebooks.each do |notebook| %>

      <%= render 'notebook', notebook: notebook %>
    <% end %>
  </div>
  <hr/>
  <p>If you want to create another one: </p>

<%else %>

  <p>You currently have no notes! If you want to create one click here: </p>
  <br/>

<%end %>
<%= link_to "Create notebook", new_notebook_path, :class => 'btn btn-primary', :role => 'button' %>