<h1><%= t('notebooks.new_notebook') %></h1>

<%= render 'form', notebook: @notebook, action: 'Create' %>
<hr/>

<%= link_to 'Back', notebooks_path, :class => 'btn btn-secondary', :role => "button" %>
