<h1><%= t('notebooks.show_notebook_title') %> <%= @notebook.title %></h1>

<br/>

<%= render 'notebook', notebook: @notebook %>

<hr/>
<%= link_to "Back to #{t('notebooks.title')}", notebooks_path, :class => "btn btn-secondary" %>
