<h1><%= t('notes.edit_title') %></h1>

<%= render 'form', note: @note, action: 'Edit' %>

<hr/>
<%= link_to 'Show note', @note, :class => "btn btn-info" %>
<%= link_to 'Back to notes', notes_path, :class => "btn btn-secondary" %>
