<h1>Notes</h1>
<p>
  Note are the place where you can store all your thoughts; ToDo lists; plans and everything else you want. If you want to have order in your notes, you should use notebooks to separate them (like folders). Here you can find only notes in a notebook.
</p>
<small>(If you just want to write a note fast, use QuickNotes:)</small>
<%= link_to "QuickNotes", quick_notes_path, :class => "btn btn-secondary", :role => "button"%>
<hr/>
<% if current_user.notes.exists? %>

  <h2>My notes:</h2>

    <% @notebooks.all.each do |notebook| %>

      <h3 class="text-center">
        <%= notebook.title %>
      </h3>
      <br/>

        <% if notebook.notes.exists? %>
          <div class="row">
          <% notebook.notes.each do |note| %>

            <%= render 'note', note: note %>

          <% end %>
          </div>
        <% else %>
          <div class="container">
            <p>This notebook is empty. If you want to create a note in this notebook, click 'Create Note' below.</p>
          </div>
        <% end %>

      <hr/>
    <% end %>
  <p>If you want to create another one: </p>

<% else %>

  <p>You currently have no notes! If you want to create one click here: </p>

<% end %>

<%= link_to "Create note", new_note_path, :class => 'btn btn-primary', :role => 'button' %>
