<h1>New Note</h1>

<% if Notebook.all.exists? %>

  <%= render 'form', note: @note, action: 'Create' %>

<% else %>

  <p> You currently have no notes to put your notes into. If you want to create notes you should either create a note first or create a QuickNote.</p>

  <%= link_to 'Create notebook', new_notebook_path, :class => 'btn btn-primary' %>
  <%= link_to 'Create Quicknote', notebooks_path, :class => 'btn btn-secondary' %>

<% end %>

<hr/>
<%= link_to 'Back', notes_path, :class => 'btn btn-secondary' %>
