<h1>Quick Notes</h1>
<p>
  Quick Notes are the place where you can store all your thoughts on the spur of the moment; ToDo lists; plans and everything else you want. If you want to have order in your notes, you should use normal notes and notebooks to separate them (like folders). Here you can find only quicknotes.
</p>
<small>(If you need order among your notes, use Normal Notes:)</small>
<%= link_to "Notes", notes_path, :class => "btn btn-secondary", :role => "button"%>
<hr/>
<% if @quick_notes.exists? %>

  <h2>My Quicknotes:</h2>
  <div class="row">
    <% @quick_notes.each do |quick_note| %>

      <%= render 'quick_note', quick_note: quick_note %>
    <% end %>
  </div>
  <hr/>
  <p>If you want to create another one: </p>

<% else %>

  <p>You currently have no Quicknotes! If you want to create one click here: </p>

<% end %>

<%= link_to "Create Quicknote", new_quick_note_path, :class => 'btn btn-primary', :role => 'button' %>
