// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note{
  background-image: url("/svg/sticky-note.svg") !important;
  background-size: 100% 100%;
  padding: 8% 15% 30% 17% !important;
  height: 90%;
}

.note-holder{
  margin-bottom: 40px;
  margin: 0 auto;
}