// Place all the styles related to the Notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notebook{
  background-image: url("/images/notebook.svg") !important;
  background-size: 100% 100%;
  padding: 15% 15% 22% 17% !important;
  height: 90%;
}

.notebook-holder{
  margin-bottom: 40px;
  margin: 0 auto;
}